*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
    color: wheat;
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double wheat;
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 4%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
}  	

#header{
    color:blue;
    font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	display: block;
	margin: 0 auto;
}

body{
 	background-image: url("../IMG/back.gif");
 	background-repeat: repeat;
}

#ship {
    height: 2%;
    width: 2%;
}

#crate_account{
	position: relative;
	left: 25%;
	padding: 5%;

}

#log-in #sign-up{
    overflow: hidden;
}

form{
	background-color: rgba(255,255,255,0.13);
	position: absolute;
	transform: translate(-50%,-50%);
	top: 67%;
	left: 50%;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255,255,255,0.1);
	box-shadow: 0 0 40px rgba(8,7,16,0.6);
	padding: 50px 35px;
}

form *{
	font-family: 'Poppins',sans-serif;
	color: #ffffff;
	letter-spacing: 0.5px;
	outline: none;
	border: none;
}

form h3{
	font-size: 32px;
	font-weight: 500;
	line-height: 42px;
	text-align: center;
}

label{
	display: block;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 500;
}

input{
	display: flex;
	height: 4em;
	width: 23em;
	background-color: rgba(255,255,255,0.07);
	border-radius: 3px;
	padding: 0px 3%;
	margin-top: 5%;
	font-size: 88%;
}

::placeholder{
	color: #e5e5e5;
}

button{
	margin-top: 50px;
	width: 100%;
	background-color: #ffffff;
	color: #080710;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}
