header {
    color: wheat;
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double wheat;
	border-width: 4px 0;
	padding: 1.5em 0em !important;
	position: absolute;
	top: 4% !important;
	left: 50% !important;
	width: 40em !important;
	margin: 0 0 0 -20em !important;
}

span {
  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em !important;
	display: block !important;
	margin: 0 auto !important;
}

#header{
  color:blue;
}

body { 
    font: 400 1em/1.5 "Neuton"; 
    background: url("../IMG/back.gif"); 
    color: blue; 
    text-align: center; 
    margin: 0 
}

div {
    display: grid;
    grid-template-columns: 30em 30em 30em 30em;
    grid-template-rows: 22em 22em;
    padding-top: 19em;
    padding-left: 2em;
}

img {
    height: 18em;
    width: 26em;
    border: 2px solid wheat;
}

img:hover{
    border: 3px solid red;
}

#log-home{
    position: relative;
    left: 40%;
    top: 1.5em;
    background-color: blue;
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    width: 15%;
    height: 49px;
    border-radius: 21px;
}